
     body{
		 padding:0px;
		 margin:0px;
	     }

     .container{
		 width:100px;
		 height:600px;
	}
	.main{
		width:100px;
		height:1600;
		
	}

     .navbar	{
		background-image:linear-gradient(to right,#A9A9A9,#808080,#A9A9A9);
		background-size:cover;
		height:130px;
		width:1000px;
	   
		margin:auto;
	}
	.heading{
	padding-bottom:80px;	
	width:800px;
	float :left;
	height:70px;
	}
	
	.v{
	color:#ff7200;
	}
	 .nav{
		 width:100px;
		 height:60px;
	     float:left;
	 }
	
	 ul{
		 float:right;
		 display:flex;
		 align-items:center;
		 justify-content:center;
	 }
	 ul li{
		 list-style:none;
		 margin-left:2px;
		 margin-right:1px;
		 margin-top:65px;
		padding-left:30px;
		
	 }
	 ul li a{
		 text-decoration:none;
		 color:#fff;
	 }
	  ul li a:hover{
			  color:#ff7200;
	  }
	  .in {
		   width:300px;
		  height:auto;
		  float:center;
		  padding-left:30px;
		  font-family:Times new Roman;
		  color:blue;
	  }
	  .in span{
		  color:black;
	  }
	  .small{
		   background-image:linear-gradient(to right,#000000,#000000,#000000);
		  	background-size:cover;
			width:1000px;
			height:250px;
			color:red;
			padding-top:30px;
	  }
	  .t1{
		   float:right;
		  color:white;
		  font-family:Arial;
		  width:100px;
		  height:auto;
		  padding-bottom:50px;
		  padding-right:200px;
	  }
	  
	  .lo1 a{
		  text-decoration:none;
		  color:white.
	  }
	  h3 a:hover{
		    color:#ff7200;
	  }
	  .lol a{
		  text-decoration:none;
		  color:white.
	  }
	  .p1{
		    float:right;
			padding-right:80px;
			color:white;
	  }
	    
	  
		 