h1{
	float:center;
	padding-left:120px;
	padding-top:50px;
	font-family:Arial;
}
p{
	padding-left:120px;
	font-family:Arial;
}
h span{
	color:blue;
}
ul {
	
	padding-left:150px;
}
ul a{
	color:blue;
}
h3{
	padding-left:120px;
	font-family:Arial;
}
p1{
	padding-left:20px;
	font-family:Arial;
}